.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.venv/Lib/
lib64/
parts/
sdist/
var/
.idea/
wheels/
*.egg-info/
.installed.cfg
*.egg